[submodule "vpp"]
	path = vpp
	url = https://github.com/jmpetrus/vpp.git
	branch = master        
[submodule "intel-sgx-ssl"]
	path = intel-sgx-ssl
	url = https://github.com/jmpetrus/intel-sgx-ssl.git
	branch = master
